body{
    background-color: white;
    user-select: none;
}
h4{
    margin-left: 150px;
}
h5{
    margin-left: 900px;
}
#second_name{
    margin-right: 10px;
    margin-top: 5px;
    display: inline-flex;
}
.selected-unit{
    border: 1px solid green;
    border-radius: 30px;
    color: white;
    background-color: green;
    padding: 5px;
}
.second_title{
    margin-left: -800px;
    color: #11101d;
}
.hor{
    width: 1405px;
}
.ladle_line{
    color: white;
    background-color: #E4A835;
    border: 1px solid #E4A835;
    border-radius: 10px;
    padding: 20px 0;
    width: 100px;
    margin-left: 900px;
    margin-right: 30px;
}
.ladle_container{
    background-color: #11101d;
    border: 1px solid black;
    display: inline-flex;
    border-radius: 10px;
    margin-left: 20px;
}
.view, .history{
    display: inline-flex;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
}
.ver{
    border: 1px solid white;
    height: 100px;
    margin-left: 10px;
}
.ladle_content{
    margin-left: -750px;
    margin-top: 20px;
    display: inline-flex;
}

.ladle_content1{
    margin-left: -1366px;
    margin-top: 40px;
    display: inline-flex;
}
.ladle_no{
    margin-left: 10px;
    margin-top: 25px;
    color: white;
    font-size: 15px;
}
.content2{
    color: white;
    margin-top: 15px;
    display: inline-flex;
}
.content1{
    display: inline-flex;
}
.ver1{
    border: 1px solid white;
    height: 40px;
    margin-left: 10px;
}
#ladle_horizon{
    width: 225px;
    border: 1px solid white;
}
.view_name, .history_name{
    margin-right: 10px;
    color: white;
    font-size: 14px;
}